.side-panel {
  /* height: calc(100vh - 80px);  */
  height: 240px;
  background: red;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  overflow-x: hidden;
  z-index: 2;
}

.side-panel.open {
  width: 250px;
}

.side-panel.closed {
  width: 80px;
}

.side-panel .button {
  padding-left: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
  cursor: pointer;
  /* background: green; */
}

.side-panel .title {
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
}

.sequence {
  position: absolute;
  height: 200px;
  background: pink;
  bottom: 0px;
  left: 0px;
  transition: 0.2s ease-in-out;
}

.sequence.open {
  width: 100vw;
}

.sequence.closed {
  width: 0px;
}