.menu {
  height: 240px;
  color: #4b505e;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  overflow-x: hidden;
  z-index: 2;
  transition: 0.15s ease;
}

.menu.open {
  width: 250px;
}

.menu.closed {
  width: 80px;
}

.menu .button {
  padding-left: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
  cursor: pointer;
}

.menu .title {
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
}

.right-menu {
  position: absolute;
  top: 80px;
  right: 0;
  color: #4b505e;
  background: #fff;
  transition: 0.15s ease;
  overflow-x: hidden;

}

.right-menu.open {
  width: 360px;
  border-left: 20px solid #292d40;
  border-bottom: 20px solid #292d40;
}

.right-menu.closed {
  width: 0px;
}

.sequence {
  background: #292d40;
  border-top: 20px solid #292d40;
  position: absolute;
  height: 150px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  transition: 0.2s ease;
}

.sequence.open {
  width: 100vw;
}

.sequence.closed {
  width: 0px;
}