.colors {
  display: flex;
  flex-direction: column;
  /* height: 400px; */
  padding: 20px;
}

.colors .title {
  font-weight: bold; 
  font-size: 18px;
}

.colors .content {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.row .title {
  margin-right: 20px;
  font-size: 30px;
}

.cell {
  height: 60px;
  width: 60px;
  margin: 5px; 
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
}

.cell:hover {
  opacity: 1;
}

.cell.selected {
  opacity: 1;
}