.app {
  color: rgb(223, 226, 236);
}

.app-header {
  display: flex;
  align-items: center;
  height: 80px;
  padding-left: 16px; 
  font-size: 36px;
}

.app-header .title {
  margin-left: 20px;
}

.large-icon {
  font-size: 48px;
}

.app-body {
  display: flex;
}

.app-content {
  padding: 20px;
  background: #33374b;
  margin: 0 20px;
  width: 100%;
  height: 100%;
}