.app {
  color: rgb(223, 226, 236)
}

.app-header {
  display: flex;
  align-items: center;
  height: 80px;
  padding-left: 16px; 
  font-size: 36px;
}

.app-header .title {
  margin-left: 20px;
}

.large-icon {
  font-size: 48px;
}

.app-body {
  margin-left: 80px;
  padding: 20px;
}